<!DOCTYPE html>
<html>
<head>
	<title>ME MYSELF N I</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

</style> 

</head>

<body>


<h1>so who am I?</h1>

<table border="0">
	<tr>
		<th>My name is: Mai Rodrigez Garcia (Seger)</th>
		<th>My favorite animal is:</th>
		<th>my family:</th>
		<th>my favorite food is::</th>
	</tr>
	<tr>
		<td><img src="{{url_for('static', filename='mai.jpeg')}}" height="400" width="400" class="image">
		  </td>
		<td><img src="{{url_for('static', filename='giphy.gif')}}" height="400" width="400" class="image"></td>
		<td><img src="{{url_for('static', filename='family.jpeg')}}" height="400" width="400" class="image"></td>
		<td><img src="{{url_for('static', filename='food.gif')}}" height="400" width="400" class="image"></td>

	</tr>
</table>

<h2>fun fact about me:</h1>
<h4>I AM A MEET STUDENT</h2>
<img src="{{url_for('static', filename='shocked.gif')}}" height="300" width="300">

<!-- <div id="quiz">what is my favorite animal?</div>

<input type="radio" name="gender" value="cats"> cats<br>
<input type="radio" name="gender" value="dogs"> dogs<br>
<input type="radio" name="gender" value="fishes"> fishes

<button id="submit">Submit Quiz</button>
<div class="message-pop-up">
    <p class="pop-close"></p>
    <p class="popup-text"></p>
    <div class="popup-loader-img"></div>
</div>
 -->


</body>
</html>